.nav-bar{
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #fbff2b;
  font-size: 18px;
}
.nav-bar ul li {
  list-style-type: none;
  font-size: 1.1em;

} 
.nav-bar__list{
  display: flex;
  margin: 0;
  gap: 20px;
}
.nav-link{
  font-weight: bold;
  color: #171717;
  text-decoration: none;
}
.unselected{
  color: #171717;
  text-decoration: none;
}